
html{
  scroll-behavior: smooth;
}

html body{
  background: url('./Assets/background/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex; 
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}
/* Nav bar styles*/
a.nav-link{
  text-transform: uppercase;
  font: 18px 'opensans-bold', sans-serif;
}

a.nav-link:hover{
  color:#a6a6a6 !important;
}

.nav-color{
  background: linear-gradient(180deg, #010f3e 2%, #0e0512 90%) no-repeat;
}

/*Home Styles*/

.home-section{
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex; 
  flex-direction: column;
}

.home-name{
  font-size: 6em;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

.home-description{
  font-size: 1.3em;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

.home-section .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: black;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 30px;
  line-height: 45px;
  border-radius: 100%;
  background: white;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.home-section .scrolldown a:hover { background-color: #11ABB0; }

#about{
  background: linear-gradient(45deg, #d6db6b 30%, #db8c6b 90%) no-repeat;
}

/* Profile image */
.profile-img{
  width: 240px;
  margin: 0 auto;
  display: block;
  clip-path: circle(120px at center);
}

.heading{
  /* background: -webkit-linear-gradient(#3a444e, #d84e4e); */
  background: -webkit-linear-gradient(#5759F5, #711a8c);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.modelHeading{
  /* background: -webkit-linear-gradient(#3a444e, #d84e4e); */
  background: -webkit-linear-gradient(#575a60, #9d37bb);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
